[submodule "gityopie/odoo-addons"]
	path = gityopie/odoo-addons
	url = git@github.com:gityopie/odoo-addons.git
	branch = 15.0-dev

[submodule "tharcisse/im_od_project_geolocate_base"]
	path = tharcisse/im_od_project_geolocate_base
	url = git@github.com:tharcisse/im_od_project_geolocate_base.git
	branch = 15.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 15.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 15.0

[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 15.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 15.0

[submodule "OCA/account-invoicing"]
	path = OCA/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 15.0

[submodule "OCA/website"]
	path = OCA/website
	url = git@github.com:OCA/website.git
	branch = 15.0

[submodule "camptocamp/smartcamp_core"]
	path = camptocamp/smartcamp_core
	url = git@github.com:camptocamp/smartcamp_core.git
	branch = 15.0

[submodule "samuelshock/odoo_attendance"]
	path = samuelshock/odoo_attendance
	url = git@github.com:samuelshock/odoo_attendance.git
	branch = main

[submodule "RLJO/Privet"]
	path = RLJO/Privet
	url = git@github.com:RLJO/Privet.git
	branch = app-sh_base_dynamic_approval

[submodule "odoohouse/sh_brainreader"]
	path = odoohouse/sh_brainreader
	url = git@github.com:odoohouse/sh_brainreader.git
	branch = staging

[submodule "muhlhel/mypay"]
	path = muhlhel/mypay
	url = git@github.com:muhlhel/mypay.git
	branch = 15.0

[submodule "RLJO/mypay"]
	path = RLJO/mypay
	url = git@github.com:RLJO/mypay.git
	branch = 15.0
