[submodule "gityopie/odoo-addons"]
	path = gityopie/odoo-addons
	url = git@github.com:gityopie/odoo-addons.git
	branch = 15.0-dev

[submodule "tharcisse/im_od_project_geolocate_base"]
	path = tharcisse/im_od_project_geolocate_base
	url = git@github.com:tharcisse/im_od_project_geolocate_base.git
	branch = 15.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 15.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 15.0

[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 15.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 15.0
